<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>新课评</title>
        <% include ../Common/header %>
    </head>
    <body>
        <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="/class/<%=class_id%>">班级</a></li>
        <li>
            <a href="###" class="active">
                新课评
            </a>
        </li>
    </ol>
        <form action="" method="post" role="form">
            <div class="row">
                <div class="col-sm-1">
                    <label>标题：</label>
                </div>
                <div class="col-sm-3">
                    <input type="text"  class="form-control"  name="eva_title" placeholder="标题" required></input>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <label>类型：</label>
                </div>
                <div class="col-sm-3">
                    <select name="eva_type" class="form-control"> 
            <option value="机构课">机构课</option><option value="校外课">校外课</option></select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <label>整体课评价：</label>
                </div>
                <div class="col-sm-3">
                    <textarea required name="eva_content"  class="form-control" rows="20"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">添加</button>
            <input type="hidden" name="eva_class_id" value='<%=class_id%>'>
        </form>
        

    </body>
</html>