<!DOCTYPE html>
<html>
    <header>
        <meta charset="UTF-8">
        <title></title>
    </header>
    <body>
        <form action="" method="post">
            <label>标题：</label><input type="text" name="eva_title" placeholder="标题"></input>
            <label>整体课评价：</label><textarea  name="eva_content"></textarea>
            <input type="submit" value="添加"></input>
            <input type="hidden" name="eva_class_id" value='<%=class_id%>'>
        </form>
        

    </body>
</html>