<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'></link>
  </head>
  <body>
    <div class="container-narrow">
      <h3>日常</h3>
    </div>
    <div class="container-narrow">
      <ul>
        <% for(var i=0; i<data.length; i++) {%>
          <li><%=data[i].dataValues.cla_name%></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'></link>
  </head>
  <body>
    <div class="container-narrow">
      <h3>日常</h3>
    </div>
    <div class="container-narrow">
      <ul>
        <li>1</li>
        <li>2</li>
      </ul>
    </div>
  </body>
</html>
