<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include Common/header %>
    <style type="text/css">
    <style type="text/css">.container-thumbnails {
        margin-top: 60px;
      }
      
      .container .row a {
        color: #888;
        font-weight: bold;
      }
      
      .container .row a:hover,
      .container .row a:focus {
        border-color: #f2f5e9;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-decoration: none;
        background-color: #f2f5e9;
      }
      
      .thumbnails .span3 {
        width: 220px;
      }
    }
    </style>
</head>
<body>
  <div class="container-narrow">
    <h2 class="text-center  text-info">日常</h2>
  </div>
  <div class="container">
    <div class="row">
      <% for(var i=0; i<data.length; i++) {%>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <a class="thumbnail" st href="/class/<%=data[i].dataValues.id%>">
            <p class="my-item text-center">
              <%=data[i].dataValues.cla_name%>
            </p>
          </a>
        </div>
        <% } %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <a class="thumbnail" href="/class/add">
              <p class="my-item text-center" style="color: rgb(212, 106, 64);">添加新班级+</p>
            </a>
          </div>
    </div>
</body>
</html>
