body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.my-item{
  margin: 40px;
}
a {
  color: #00B7FF;
}