<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title></title>
    <% include ../Common/header %>
</header>

<body>
    <form action="" method="post" role="form">
        <div class="row">
            <div class="col-sm-1"><label>姓名：</label></div>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="stu_name" placeholder="输入姓名" value="<%=student.dataValues.stu_name%>" required></input>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"><label>姓别：</label></div>
            <div class="col-sm-3">
                <input type="radio" name="stu_sex" value="男" id='radio_male'   <% if(student.dataValues.stu_sex=='男'){ %> checked="checked" <% } %>/><label for="radio_male">男</label>
                <input type="radio" name="stu_sex" value="女" id='radio_female' <% if(student.dataValues.stu_sex=='女'){ %> checked='checked' <% } %>/><label for="radio_female">女</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"><label>生日：</label></div>
            <div class="col-sm-3"><input type="date" class="form-control" name="stu_birthday" placeholder="生日" value="<%=student.get('stu_birthday')%>"/></div>
        </div>
        <button type="submit" class="btn btn-primary">修改</button>
        <input type="hidden" name="id" value="<%=student.dataValues.id%>"></input>
        <input type="hidden" name="class_id" value="<%=student.dataValues.class_id%>"></input>
    </form>
</body>

</html>